---
import Sections from "@/components/ui/Sections.astro";
import Layout from "@/layouts/Layout.astro";
import { ATELIER_TITLE, ATELIER_DESCRIPTION } from "@/lib/constantes";
import { Image } from "astro:assets";
import relaxSonore from "@/assets/images/relax-sonore.jpg"
import Plumes from "@/components/ui/Plumes.astro";
import cerclePardon from "@/assets/images/cercle-pardon.jpeg"
---

<Layout title={ATELIER_TITLE} description={ATELIER_DESCRIPTION}>
    <Sections fond="blanc">
        <h1 class="text-2xl font-title md:text-4xl font-bold text-center my-4">
            ATELIERS
        </h1>
        <div class="flex flex-col items-center gap-8 md:gap-0">
            <div class="w-full flex flex-col md:flex-row justify-center items-center">

                <div class="md:w-1/2 md:max-w-[640px] text-center p-5">
                    <h2 class="font-title text-xl md:text-2xl font-semibold">
                        RELAXATION SONORE
                    </h2>
                    <div class="flex flex-col items-center gap-y-4 mt-4 text-lg">
                        <p class="text-justify">
                            La relaxation sonore est à mi-chemin entre
                            la méditation de pleine conscience et le
                            massage sonore. Elle vous invite à vivre un
                            profond voyage intérieur, vous permettant de
                            laisser place au calme en vous. Stress,
                            émotions intenses, ruminations mais aussi
                            troubles du sommeil peuvent être apaisés
                            grâce aux sons de relaxation.
                        </p>
                        <p class="pt-5 text-justify">
                            Relaxation au tambour, bols de cristal,
                            instruments intuitifs & voix
                        </p>
                        <p class="text-justify">
                            L’objectif d’une séance est de faire
                            circuler l’énergie vitale de façon
                            harmonieuse et de vous aider à retrouver un
                            état de sérénité en diminuant le flot de
                            pensées, les émotions limitantes et les
                            tensions.
                        </p>
                        <p class="text-justify">
                            Praticienne en relaxation sonore, je vous
                            aide à créer un bel espace à l’intérieur de
                            vous même et à augmenter votre taux
                            vibratoire pour déployer votre énergie au
                            quotidien.
                        </p>
                        <p class="text-justify">
                            Séance en groupe ou individuelle. Merci de
                            m’envoyer un message pour connaître les
                            dates d’ateliers collectifs, ou si vous
                            souhaitez vivre une séance en individuel.
                        </p>
                        <p class="pt-8 font-semibold">
                            Relaxation au tambour, HANDPAN, bols de
                            cristal, CARILLONS, instruments intuitifs &
                            voix.
                        </p>
                    </div>
                </div>
                <div class="md:w-1/2 px-4 md:my-4">
                    <Image
                        src={relaxSonore}
                        alt="Relaxation sonore"
                        format="webp"
                        width={400}
                    />
                </div>
            </div>
            <Plumes />
        </Sections>
        <Sections>
            <div class="w-full flex flex-col-reverse md:flex-row justify-center items-center">
                <div class="md:w-1/2 px-4 my-4 flex justify-center">
                    <Image src={cerclePardon} alt="Logo cercle de pardon" format="webp" width={400} />
                </div>
                <div class="md:w-1/2 text-center p-8">
                    <h2 class="font-title text-xl md:text-2xl font-semibold">
                        CERCLE DE PARDON
                    </h2>
                    <div class="flex flex-col items-center gap-y-4 mt-4 text-lg">
                        <p class="font-semibold">
                            Venez expérimenter une nouvelle approche
                            laïque du pardon.
                        </p>
                        <p class="text-justify">
                            Créés en 2012 par Olivier CLERC, les Cercles
                            de Pardon ont pour objectif de vous faire
                            vivre en deux ou trois heures un très beau
                            rituel de guérison du coeur, aussi simple
                            que puissant.
                        </p>
                        <p class="text-justify">
                            Approche transpersonnelle, un Cercle de
                            Pardon vous donne l'occasion de faire oeuvre
                            de pardon vis-à-vis des autres et de
                            vous-même, y compris par rapport à des
                            personnes non présentes, sans avoir à
                            évoquer devant autrui vos problèmatiques ou
                            blessures personnelles.
                        </p>
                        <p class="pb-2 text-justify">
                            Il permet à votre coeur de guérir et de se
                            libérer des couches de rancune, de tristesse
                            ou de haine qui l'empêchent d'aimer
                            pleinement.
                        </p>
                    </div>
                </div>
            </div>
            <Plumes />
        </Sections>
        </div>
</Layout>