---
import TitlePages from "@/components/ui/TitlePages.astro";
import Layout from "@/layouts/Layout.astro";
import { COACHING_STRESS_DESCRIPTION, COACHING_STRESS_TITLE } from "@/lib/constantes";
import { Image } from "astro:assets";
import PageStress from "@/assets/images/page-stress.jpg"
import Plumes from "@/components/ui/Plumes.astro";
---

<Layout title={COACHING_STRESS_TITLE} description={COACHING_STRESS_DESCRIPTION}>
    <div class="container max-w-screen-lg flex flex-col mx-auto mt-14 md:mt-0 px-4">

        <TitlePages>
            GESTION DES STRESS ET DES EMOTIONS
        </TitlePages>
        <div class="h-40 overflow-hidden bg-cover rounded-xl mb-4">
            <Image src={PageStress} alt="" format="webp" class="mx-auto" />
        </div>
        <!-- <div class="h-40 overflow-hidden url('/photos/page-sport.jpg') bg-center bg-cover rounded-xl mb-4"></div> -->
        <p class="text-center text-lg">
            "Mes techniques visent à restaurer l'harmonie entre le corps
                    et l'esprit" 🙏🏼
        </p>
    
        <div class="my-4">
            <h2 class="text-xl md:text-2xl font-semibold my-4">
                Les Bienfaits d'un Accompagnement Personnel
            </h2>
            <p class="pb-2">
                L'accompagnement que je propose vise à vous offrir une
                transformation profonde et positive, vous permettant de
                :
            </p>
            <ul class="pl-2 md:pl-4 pb-4">
                <li class="font-bold pt-4">
                    ▸ Vous Libérer les Tensions et Renouer avec
                    l'Équilibre.
                </li>
                <p class="pl-4">
                    Une libération des tensions corporelles,
                    émotionnelles et mentales pour retrouver un état
                    d'équilibre.
                </p>

                <li class="font-bold pt-4">
                    ▸ Vous ressourcer, remobiliser vos énergies
                </li>
                <p class="pl-4">
                    Une revitalisation de vos énergies, une redécouverte
                    de votre vitalité pour un bien-être global.
                </p>

                <li class="font-bold pt-4">
                    ▸ Vous apaiser, vous recentrer et vous reconnecter
                    avec vous-même
                </li>
                <p class="pl-4">
                    Un apaisement intérieur favorisant la sérénité au
                    quotidien, notamment pour un sommeil de qualité.
                </p>

                <li class="font-bold pt-4">
                    ▸ Vous faire confiance, vous estimer à votre juste
                    valeur
                </li>
                <p class="pl-4">
                    Une meilleure estime de soi et une confiance
                    renouvelée dans vos capacités personnelles.
                </p>

                <li class="font-bold pt-4">
                    ▸ Comprendre ce mal être que vous vivez
                </li>
                <p class="pl-4">
                    Une exploration et compréhension des ressentis pour
                    surmonter les obstacles.
                </p>

                <li class="font-bold pt-4">
                    ▸ Vivre sereinement et pleinement l’instant présent
                </li>
                <p class="pl-4">
                    Une pleine conscience pour vivre l'instant présent
                    dans la quiétude et l'authenticité.
                </p>
            </ul>
            <p>
                Dans un environnement chaleureux, sans jugement, je vous
                propose des outils issus de la Sophrologie et de la
                Relaxologie psychocorporelle. Ces techniques incluent la
                respiration consciente, la pleine conscience corporelle,
                la gestion émotionnelle, la résolution de conflits,
                ainsi que la communication consciente et la guérison
                émotionnelle.
            </p>
        </div>

        <div class="my-4">
            <h2 class="text-xl md:text-2xl font-semibold my-4">
                La Sophrologie est efficace pour la préparation mentale
                pour diverses situations
            </h2>
            <ul class="pl-2 md:pl-4">
                <li class="font-bold pt-4">
                    ▸ Pour les Épreuves et Performances
                </li>
                <p classN"pl-4">
                    Une préparation mentale efficace pour les examens,
                    concours, entretiens d'embauche, compétitions
                    sportives.
                </p>
                <li class="font-bold pt-4">
                    ▸ Dans le Cadre Médical
                </li>
                <p class="pl-4">
                    Un accompagnement adapté pour les interventions
                    chirurgicales et pour vivre sereinement la naissance
                    d'un enfant.
                </p>
            </ul>
        </div>

        <div class="mt-8 flex flex-col items-center">
            <p class="text-center">
                Si vous souhaitez également tonifier votre corps ou retrouver un bien-être corporel, vous pouvez consulter le troisième pilier :
            </p>
            <a
                href="/coaching-sport"
                class="cursor-pointer text-corda-action font-semibold pt-2"
            >
            COACHING SPORT SANTÉ
            </a>
        </div>
        <Plumes />
    </div>
</Layout>