---
import SectionAccompagnement from '@/components/home/SectionAccompagnement.astro';
import SectionCoaching from '@/components/home/SectionCoaching.astro';
import SectionCours from '@/components/home/SectionCours.astro';
import SectionFaq from '@/components/home/SectionFaq.astro';
import SectionHero from '@/components/home/SectionHero.astro';
import SectionMassages from '@/components/home/SectionMassages.astro';
import SectionPlanning from '@/components/home/SectionPlanning.astro';
import SectionCallTAction from '@/components/ui/SectionCallTAction.astro';
import SectionMap from '@/components/ui/SectionMap.astro';
import Layout from '@/layouts/Layout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/lib/constantes';

---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="flex-1">
		<SectionHero />
		<SectionFaq />
		<SectionCoaching />
		<SectionAccompagnement />
		<SectionMassages />
		<SectionCours />
		<SectionPlanning />
		<SectionCallTAction />
		<SectionMap />
	</div>
</Layout>
