---
import SectionAccompagnement from '@/components/home/SectionAccompagnement.astro';
import SectionCoaching from '@/components/home/SectionCoaching.astro';
import SectionEvenement from '@/components/home/SectionEvenement.astro';
import SectionFaq from '@/components/home/SectionFaq.astro';
import SectionHero from '@/components/home/SectionHero.astro';
import SectionMassages from '@/components/home/SectionMassages.astro';
import Layout from '@/layouts/Layout.astro';

---

<Layout>
	<div class="flex-1">
		<SectionHero />
		<SectionFaq />
		<SectionCoaching />
		<SectionAccompagnement />
		<SectionMassages />
		<SectionEvenement />
	</div>
</Layout>
