---
import SectionCoaching from '@/components/home/SectionCoaching.astro';
import SectionFaq from '@/components/home/SectionFaq.astro';
import SectionHero from '@/components/home/SectionHero.astro';
import Layout from '@/layouts/Layout.astro';

---

<Layout>
	<div class="flex-1">
		<SectionHero />
		<SectionFaq />
		<SectionCoaching />
	</div>
</Layout>
