---
import Plumes from "@/components/ui/Plumes.astro";
import Sections from "@/components/ui/Sections.astro";
import Layout from "@/layouts/Layout.astro";
import { TARIFS_DESCRIPTION, TARIFS_TITLE } from "@/lib/constantes";


---

<Layout title={TARIFS_TITLE} description={TARIFS_DESCRIPTION}>
    <Sections>
        <div class="flex flex-col justify-start flex-1">
            <h1 class="text-2xl md:text-4xl font-bold text-center my-4">
                TARIFS
            </h1>
            <div class="container px-2 mx-auto mb-4 mt-10 max-w-3xl">
                <p class="pb-4">
                    Découvrez mes tarifs naturopathie adaptés à vos besoins de
                    santé naturelle. Chaque consultation naturopathique est
                    conçue pour vous offrir un accompagnement personnalisé vers
                    votre bien-être optimal. <br />
                    Enrichissez votre parcours de guérison naturelle grâce à mes
                    massages thérapeutiques, ainsi que mes techniques de
                    réflexologie pour une harmonisation complète. <br />
                    Rejoignez également mes cours collectifs de Pilates pour
                    renforcer votre corps en douceur, de sophrologie pour
                    équilibrer vos émotions, et de relaxation sonore. <br />
                    Une approche naturopathique intégrale combinant soins
                    individuels et pratiques collectives pour votre santé
                    naturelle optimale.
                </p>
                <div class="grid grid-cols-5 gap-x-2 gap-y-1 rounded-xl">
                    <div class="bg-corda-secondary col-span-5 rounded-xl  py-1">
                        <h2 class="text-center text-xl font-semibold text-corda-text-clair">COACHING</h2>
                    </div>

                    <div class="bg-corda-bg-primary col-span-4 pl-2">Séance 1H</div>
                    <div class="bg-corda-bg-primary not-visited:text-center">60€</div>

                    <div class="bg-corda-bg-primary col-span-4 pl-2">
                        Forfait 4 (inclus la 1ère séance de 90min)
                    </div>
                    <div class="bg-corda-bg-primary text-center">49€/ Séance</div>

                    <div class="bg-corda-bg-primary col-span-4 pl-2">
                        Relaxation Sonore
                    </div>
                    <div class="bg-corda-bg-primary text-center">60€/ Séance</div>

                    <div class="bg-corda-secondary col-span-5 mt-8 rounded-xl text-center text-xl py-1">
                        <h2 class="text-center text-xl font-semibold text-corda-text-clair">
                            MASSAGES & REFLEXOLOGIE
                        </h2>
                    </div>
                    <div class="bg-corda-bg-primary col-span-4 pl-2">Séance 60min</div>
                    <div class="bg-corda-bg-primary text-center">60€</div>
                    <div class="bg-corda-bg-primary col-span-4 pl-2">
                        Massage bol Kansu - 30min
                    </div>
                    <div class="bg-corda-bg-primary text-center">30€</div>

                    <div class="bg-corda-secondary  col-span-5 mt-8 rounded-xl text-center text-xl py-1">
                        <h2 class="text-center text-xl font-semibold text-corda-text-clair">
                            COURS COLLECTIFS
                        </h2>
                    </div>
                    <div class="bg-corda-bg-primary col-span-4 pl-2">
                        Pilâtes - 60min
                    </div>
                    <div class="bg-corda-bg-primary text-center">15€/ Pers</div>
                    <div class="bg-corda-bg-primary col-span-4 pl-2">
                        Sophrologie - 60min
                    </div>
                    <div class="bg-corda-bg-primary text-center">15€/ Pers</div>
                    <div class="bg-corda-bg-primary col-span-4 pl-2">
                        Relaxation - 60min
                    </div>
                    <div class="bg-corda-bg-primary text-center">15€/ Pers</div>

                    <div class="bg-corda-secondary col-span-5 mt-8 rounded-xl text-center text-xl py-1">
                        <h2 class="text-center text-xl font-semibold text-corda-text-clair">ATELIERS</h2>
                    </div>
                    <div class="bg-corda-bg-primary col-span-4 pl-2">
                        Relaxation sonore - 60min
                    </div>
                    <div class="bg-corda-bg-primary text-center">20€/ Pers</div>
                    <div class="bg-corda-bg-primary col-span-4 pl-2">
                        Cercle de pardon - 2H30
                    </div>
                    <div class="bg-corda-bg-primary text-center">20€/ Pers</div>
                </div>
            </div>
        </div>
        <Plumes />
    </Sections>
    
</Layout>