---
import Plumes from "../ui/Plumes.astro";
import Sections from "../ui/Sections.astro";
import TitleSection from "../ui/TitleSection.astro";


---

<Sections fond="vert">
    <TitleSection>Dernières infos</TitleSection>
    <p class="text-blanc py-4 text-lg">
        Atelier Relaxation guidée au tambour, bols de cristal,
        instruments intuitif & voix
    </p>
    <a href="/ateliers">
        <p class="text-lg pb-4 md:pb-8">
            Toutes les infos et réservation dans la section <span class="text-xl text-corda-actionaction">ATELIERS</span>
        </p>
    </a>
    <Plumes />
</Sections>