---
import ButtonMaillage from "../ui/ButtonMaillage.astro";
import Plumes from "../ui/Plumes.astro";
import Sections from "../ui/Sections.astro";
---

<Sections fond="blanc">
    <div class="container flex flex-col justify-center px-4 md:px-8">
        <h2 class="font-title text-2xl md:text-4xl font-semibold m-5 pt-4 md:pt-8 text-center">
            LA NATUROPATHIE
        </h2>
        <p class="pt-4 text-lg text-left">
            La naturopathie est une approche holistique utilisant des
            méthodes naturelles pour renforcer les capacités
            d'auto-guérison du corps. Le naturopathe ne "soigne" pas
            directement, mais rétablit l'équilibre et stimule les
            défenses naturelles face aux troubles digestifs, stress,
            problèmes de peau, allergies et déséquilibres hormonaux.
        </p>
        <p class="py-4 text-lg">
            Mon accompagnement repose sur trois piliers fondamentaux :
            nutrition adaptée, gestion du stress/émotions et coaching
            sportif personnalisé. En tant que sophrologue certifiée,
            j'intègre également des techniques de relaxation et
            méditation pour harmoniser le lien corps-esprit.
        </p>
        <ButtonMaillage
            href="/role-naturopathie"
            label="En savoir plus sur la Naturopathie"
        />
    </div>
    <Plumes />
</Sections>