---
import Plumes from "../ui/Plumes.astro";
import Sections from "../ui/Sections.astro";
import TitleSection from "../ui/TitleSection.astro";


---

<Sections fond="vert">
    <TitleSection>Dernières infos</TitleSection>
    <div class="container flex flex-col justify-center px-4 md:px-8 pb-8">
        <p class="text-xl md:text-2xl text-center pt-4">
            Atelier Relaxation guidée au tambour, bols de cristal,
            instruments intuitif & voix
        </p>
        <a href="/ateliers">
            <p class="text-lg text-center pt-10 pb-4 md:pb-8">
                Toutes les infos et réservation dans la section <span class="text-xl text-corda-action font-bold">ATELIERS</span>
            </p>
        </a>
    </div>
</Sections>