---
import Sections from "../ui/Sections.astro";
import TitleSection from "../ui/TitleSection.astro";


---

<Sections fond="vert">
    <TitleSection>Massages relaxants</TitleSection>
    <div class="container flex flex-col justify-center px-4 md:px-8 pb-10">
        <p class="pt-4 text-lg">
            Découvrez un chemin vers l'harmonie à travers mes massages
            bien-être et techniques de réflexologie naturelles.
            <br /> Le{" "}
            <a href="/massage-californien" class="text-corda-action">
                massage californien
            </a>{" "}
            enveloppe votre corps de mouvements fluides pour une
            relaxation profonde, tandis que le{" "}
            <a href="/massage-infini" class="text-corda-action">
                massage infini
            </a>{" "}
            libère vos tensions par ses enchaînements circulaires.{" "}
            <br />
            Pour un équilibre énergétique complet, le{" "}
            <a href="/massage-kansu" class="text-corda-action">
                massage kansu
            </a>{" "}
            aux bols traditionnels apaise votre système nerveux. Le{" "}
            <a href="/massage-kobido" class="text-corda-action">
                massage kobido
            </a>
            , véritable "lifting naturel japonais",
            stimule votre visage par des mouvements précis pour une
            régénération cellulaire et un éclat rajeuni.
        </p>
    </div>
</Sections>