---
import type { HTMLAttributes } from "astro/types";

export interface BtnProps extends HTMLAttributes<"a">{
    href: string;
    label: string;
    itemProp: string;
    fond?: string;
}

const { href, label, itemProp, fond = "bg-corda-secondary"} = Astro.props as BtnProps
---
<button itemprop={itemProp} class:list={["px-2", "py-1", "md:py-2", "text-corda-text-clair", "text-md", "md:text-lg", "rounded-full", "shadow-sm", "w-60", fond]}>
    <a href={href}>
        {label}
    </a>
</button>